<nav class="nav">
  <a href="/">Log system</a>
</nav>
<div>
  <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <div>
      <input
      type="text"
      placeholder="Add a log"
      name="logValue"
      [ngModel]=""
      #logvalue 
      >
      <div>
        <button 
          type="button"
          class="suggestButton"
          (click)="addLog(logvalue.value)" [disabled]="!logvalue.value" >
          Add a log
        </button>
        <button 
          type="button"
          class="suggestButton"
          (click)="clear()" [hidden]="!logvalue.value" >
          Clear 
        </button>
      </div>
    </div>
  </form>
</div>
<div>
  <app-display [list]="arrLog$" (delete)="deleteLog($event)"></app-display>
</div>

