button {
  margin-left: .4rem;
  width: 45%;
  height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .03rem;
  border: 2px solid lightgrey;
  background-color: #a97bff;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: rgb(172, 162, 252);
}

div {
  text-align: center;
}